.footer {
    background: var(--white);
    color: black;
}

.parceiros .logos,
.contacteNos .informations {
    background: var(--back-blue);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 20px 0;
    color: var(--white);
}

.parceiros .logos > img {
    width: 30%;
}

.contacteNos .informations {
    flex-direction: column; 
    gap: 30px;
}

.parceiros .boxText,
.contacteNos .boxText {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 20px 0;
}

.contacteNos .informations .midias a img {
    filter: invert(0.8);
    transform: scale(1.5em);
    transition: 0.3s ease-in-out;
}

.contacteNos .informations .midias a img:hover {
    filter: invert(1);
}