/* Nav */
.header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 32px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
}

.logoBar {
    display: flex;
    gap: 4rem;
}

/* Logo (nav) */


/* Links navegação (nav) */
.ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.ul a {
    transition: 0.2s ease;
}

/* Login (nav) */
.loginRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.loginRegister a > img {
    width: 20px;
    filter: gray;
}

.loginRegister > a:first-child {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    padding: 0.2rem 0.6rem;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.loginRegister > a:hover:first-child {
    color: var(--white);
    transform: translateY(-2px);
}

.loginRegister > a:last-child {
    border: 2px solid #f2f2f256;
    text-align: center;
    border-radius: 3px;
    padding: 0.2rem 0.6rem;
    font-weight: 700;
    box-shadow: 4px 4px 3px 0px #00000040;
    transition: 0.3s ease-in-out;
}

.loginRegister > a:hover:last-child {
    color: rgb(238, 238, 238);
    border: 2px solid #ac2c2760;
    background: #ac2c27;
}

@media only screen and (max-width: 900px) {
    .ul,
    .loginRegister {
        display: none;
    }
} 