.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    padding: 32px;
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

.box:hover {
    opacity: .8;
}

.box > img {
    width: 80%;
}

.box > span {
    color: #0A0D16;
}