:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  --white: #F9F9F9;
  --black: #0A0D16;
  --blue: #242F55;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

#root, body, html, main {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  color: var(--white);
  min-width: 320px;
  min-height: 100vh;
}

body, button, a, input {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: inherit;
  color: var(--white);
}
/* a:hover {
  color: ;
} */

ul {
  list-style-type: none;
}

/* Scroll */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f121b; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--white); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #acacac; 
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */